{% extends 'base.html' %}
{% block title %} Added to Cart{% endblock title %}

{% block content %}

<div style="padding-top: 10%; padding-bottom: 10%; padding-left: 35%;">
	<h1>Product added to cart successfully!</h1>
</div>

<script type="text/javascript">
	alert('Added to cart')
</script>

{% endblock content %}