{% extends 'base.html' %}

{% block title %} Brand {% endblock title %}
    <!-- loader  -->
    {% block content %}
    <div class="loader_bg">
        <div class="loader"><img src="/static/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
   
    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Brand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    {% for product in product %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{{ product.image.url }}" alt="img" />
                            <h3>$<strong class="red">{{ product.cost }}</strong></h3>
                            <a href="{% url 'detail' product.pk %}"><span>{{ product.name }}</span></a>
                            <i><img src="/static/images/star.png"/></i>
                            <i><img src="/static/images/star.png"/></i>
                            <i><img src="/static/images/star.png"/></i>
                            <i><img src="/static/images/star.png"/></i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- end brand -->

    <!-- footer -->
    
    {% endblock content %}