{% extends 'base.html' %}
{% block title %} Added to Cart{% endblock title %}

{% block content %}

<style type="text/css">
	input {
	width: 100%; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; border: 0 red solid; background-color: rgba(0, 0, 0, 0.06); border-left: 3px solid red; border-radius: 5px; color: #666666; font-weight: 300; font-size: 15px; line-height: 24px;
	}
</style>


<div style="padding-top: 10%; padding-bottom: 10%; padding-left: 10%;">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Items in the cart</h3>
            <a href="{% url 'ecomapp:mycart' %}"><button style="padding: 10px; padding-left: 30px; padding-right: 30px; background-color: red; color: white; border-radius: 5px;">Update</button></a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.name}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>$. {{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
            </form>
            <a href="{% url 'home' %}"><button style="padding: 10px; padding-left: 30px; padding-right: 30px; background-color: red; color: white; border-radius: 5px; float: right;">Place Order</button></a>
        </div>
    </div>
</div>
</div>


{% endblock content %}