{% extends 'base.html' %}
{% block title %} Comment Update {% endblock title %}
{% block content %}

<style type="text/css">
	input {
		width: 100%; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; border: 0 red solid; background-color: #fafafa; border-left: 3px solid red; border-radius: 5px; color: #666666; font-weight: 300; font-size: 15px; line-height: 24px;
	}
	textarea {
		width: 100%; border-radius: 5px; background-color: #fafafa; border: 0 solid red; border-left: 3px solid red; padding-top: 10px; padding-left: 10px; color: #666666; font-weight: 300; font-size: 15px; line-height: 24px;
	}

</style>

<div style="margin-left: 25%; margin-bottom: 10%; margin-top: 10%; width: 50%;">
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button style="padding: 10px; padding-left: 30px; padding-right: 30px; background-color: red; color: white; border-radius: 5px; float: right;">Submit Change</button>
</form>
</div>

{% endblock content %}