{% extends 'base.html' %}

{% block title %} Detail {% endblock title %}

{% block content %}

<style type="text/css">
</style>
<div style="margin-top: 10%; margin-bottom: 10%; margin-left: 25%; width: 50%;">
	<div style="display: inline-block; background-color: #BDBEBE; height: 250px; width: 250px; border: 3px solid red; border-radius: 5px;">
		<img src="{{ product.image.url }}" style="width:80%; margin: 10%;">
	</div>
	<div style="display: inline-block; margin-left: 5%;">
		<h2>Cost:  <span class="badge bg-warning text-light">${{ product.cost }}</span></h2>
		<h2>Created at:  {{ product.made_year }}</h2>
		<h2>Made in:  {{ product.firma }}</h2>
	</div>
	<hr>
	<div>
		<div style="display: inline-block;">
			{% if product.colour == 'red' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-danger">{{ product.colour }}</span></h1>
			{% elif product.colour == 'yellow' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-warning text-light">{{ product.colour }}</span></h1>
			{% elif product.colour == 'green' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-success">{{ product.colour }}</span></h1>
			{% elif product.colour == 'blue' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-primary">{{ product.colour }}</span></h1>
			{% elif product.colour == 'black' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-dark">{{ product.colour }}</span></h1>
			{% elif product.colour == 'yellow' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-warning text-light">{{ product.colour }}</span></h1>
			{% elif product.colour == 'white' %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-light text-dark">{{ product.colour }}</span></h1>
			{% else %}
				<h1 style="font-size: 30px;">{{ product.name }} - <span class="badge bg-secondary">{{ product.colour }}</span></h1>
			{% endif %}
			<h3>By Admin</h3>
		</div>
		<div style="display: inline-block; float: right;">
				<a href="{% url 'ecomapp:addtocart' product.id %}"><button style="padding: 20px; background-color: red; color: white; border-radius: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>  Add to Cart</button></a>
		</div>
	</div>
	<hr>
	<p>{{ product.text }}</p>
	<p style="float: right;">{{ product.date }}</p>
	<br>
	<hr>
	<div style="margin-top: 20px;">
		<form action="{% url 'comment_url' product.pk %}" method="POST">
			<input type="text" name="fullname" placeholder="Add your fullname here ..." style="width: 100%; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; border: 0 red solid; background-color: rgba(0, 0, 0, 0.06); border-left: 3px solid red; border-radius: 5px; color: #666666; font-weight: 300; font-size: 15px; line-height: 24px;">
			<textarea style="width: 100%; border-radius: 5px; background-color: rgba(0, 0, 0, 0.06); border: 0 solid red; border-left: 3px solid red; padding-top: 10px; padding-left: 10px; margin-top: 15px;  color: #666666; font-weight: 300; font-size: 15px; line-height: 24px;" rows="5" placeholder="Add your comment here ..." name="text"></textarea>
        		{% csrf_token %}
        	<div style="display: inline-block;">
        		<p>Enter your comment about this product</p>
        		<p style="font-style: italic;">- Writing obscene comments can cause some problems!</p>
        	</div>
        	<div style="display: inline-block; float: right;">
        		<button style="padding: 10px; padding-left: 30px; padding-right: 30px; background-color: red; color: white; border-radius: 5px; float: right;">Submit</button>
        	</div>
        </form>
        <br><br>

<div>
{% for r in product.comment_set.all %}

		<div>
			<h3 style="text-align: left;">{{ r.fullname }} <span style="float: right;  color: #666666; font-weight: 300; font-size: 13px; line-height: 24px;">{{ r.date }}</span></h3>
			<p>{{ r.text }}</p>
			<div style="float: right;">
				<a href="{% url 'comment_update' r.pk %}" style="color: red;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg></a>
			</div>		
		</div>
		<br>
	<hr>
{% empty %}
<h1 style="text-align: center;">Your comment will be first</h1>
{% endfor %}
</div>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {

document.getElementById('textarea').onkeyup = function () {
document.getElementById('count').innerHTML = "Characters left: " + (500 - this.value.length);
};

});
</script>

{% endblock content %}