{% extends 'base.html' %}
{% block title %} Search Results {% endblock title %}
{% block content %}
{% if venues.count >= 1 %}
<h1 style="padding-left: 15%; padding-top: 10%; background-color:#EBEBEB; color: #666666; font-size: 40px;">Results - {{ venues.count }}</h1>
<div class="brand-bg">
            <div class="container">
                <div class="row">
                    {% for product in venues %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{{ product.image.url }}" alt="img" />
                            <h3>$<strong class="red">{{ product.cost }}</strong></h3>
                            <a href="{% url 'detail' product.pk %}"><span>{{ product.name }}</span></a>
                            <i><img src="/static/images/star.png"/></i>
                            <i><img src="/static/images/star.png"/></i>
                            <i><img src="/static/images/star.png"/></i>
                            <i><img src="/static/images/star.png"/></i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</div>
{% else %}
<div style="padding-top: 10%; padding-bottom: 10%; width: 100%; border: 1px red solid	;">
<img src="/static/images/noresult.png" width="20%" style="margin-left: 40%;">
<h1 style="color: #666666; text-align: center;">Sorry! We can't found nothing about "{{ searched }}" in products!</h1>
<p style="text-align: center;">You can go to <a href='{% url "home" %}'>home</a> if you want.</p>
</div>
{% endif %}

{% endblock content %}